<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bench.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>test-bt-cl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>test-child.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>test-ntor-cl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>tor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>tor_cache_only.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>tor_default.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>tor_external_launch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>tor_socks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>tor_tmp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>025354C019AB6515006D569F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>025354D119ACADC3006D569F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>028FE2AC19D7DFBA00EAE502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>028FE2B419D7DFC700EAE502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>028FE33F19D7E02900EAE502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>028FE3F019D7E5CD00EAE502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>028FE49D19D7E5D600EAE502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>028FE54A19D7E5E000EAE502</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
